@page "/"
@inject Blazor.Services.BankoService BankoService

<h3>Banko Cheater</h3>

<p>@message</p>

<input @bind="drawnNumber" placeholder="Enter a number" />
<button @onclick="DrawNumber">Submit</button>

<h4>Already drawn numbers:</h4>
<ul>
    @foreach (var number in drawnNumbers)
    {
        <li>@number</li>
    }
</ul>

@code {
    private int drawnNumber;
    private string message;
    private List<int> drawnNumbers = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        await BankoService.InitializeGameAsync("C:\\Users\\MAGS\\Documents\\GitHub\\banko-MAGS-GH\\Selenium\\data.json");
        drawnNumbers = BankoService.GetDrawnNumbers();
    }

    private void DrawNumber()
    {
        message += BankoService.DrawNumber(drawnNumber);
        drawnNumbers = BankoService.GetDrawnNumbers();
    }
}

